// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    min-height: 100vh;
}
label {
    display: block;
}
.cookie-row:not(:last-child) {
    margin-bottom: 25px;
}